:root {
    --fin1: #f5f5f7;
    --fin2: #ffffff;
    --fg: #000000;
    --bgS: #828284;
    --cyan: #89b482;
}

body {
    margin: 0;
    padding: 0;
    background: repeating-linear-gradient(
        -45deg,       /* angle of the stripes */
        var(--fin1),        /* first color (grey) */
        var(--fin1) 10px,   /* grey stripe width */
        var(--fin2) 10px,   /* second color (white) start */
        var(--fin2) 20px    /* white stripe width */
    );
}

header {
    padding: 2rem !important;
    text-align: center;
    display: flex;
    flex-direction: column;
}

header h1 {
    margin-bottom: 1rem;
    font-size: 2rem;
    color: var(--fg);
}

header p {
    text-align: left;
    margin: 0 auto;
    max-width: 700px;
    line-height: 1.6;
    color: var(--fg);
}

#content {
    width: 75%;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: var(--fin2);

    box-shadow: 0 0 15px var(--bgS);
}
#content > * {
    padding: 1rem 1rem;
    display: flex;
    box-shadow: 0 3px 6px -2px var(--bgS);
}


#content .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    padding: 4rem;
}

#content .grid a {
    position: relative;  /* required for label positioning */
    display: block;
    width: 100%;
    padding-top: 100%; /* square aspect ratio */
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease;
    box-shadow: 0 3px 6px -2px var(--bgS);
    overflow: hidden;
}

#content .grid a:hover {
    transform: scale(1.1);
}

#content .grid a .label {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0.5rem;
    background-color: var(--fin1);
    color: var(--fg);
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    #content {
        width: 100%;
        margin: 0;
        box-shadow: none; /* optional, cleaner on small screens */
    }

    #content .grid {
        grid-template-columns: 1fr; /* 1 item per row on small screens */
        gap: 3rem;
        padding: 3rem;
    }
}
